<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta lang="zh" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <meta name="renderer" content="webkit" />
    <meta name="description" content="" />
    <meta name="keyword" content="" />
    <title>qiankun-dva</title>
    <% if (process.env.NODE_ENV === 'development') { %>
    <!-- 本地dll开发包 用cdn上的开发包可能会导致特别慢，这个时候可以直接用本地的dll包-->
    <base href="/" />
    <link
      rel="stylesheet"
      href="/vendor/dist/vendor-db0e7d9cb328aaf88c72.dev.css"
    />
    <script src="/vendor/dist/vendor-db0e7d9cb328aaf88c72.dev.js"></script>
    <% } else { %>
    <!-- 线上dll生产包-->
    <link
      rel="stylesheet"
      href="https://s.newscdn.cn/liangzhu-slowlive/vendor-8545dacfcfc2b1d0755e.css"
    />
    <script src="https://s.newscdn.cn/liangzhu-slowlive/vendor-8545dacfcfc2b1d0755e.js"></script>
    <% } %>
    <script>
      window.versionInfo = {
        VERSION: "0.0.0",
        ENV: "DEV",
        INIT: false,
      };
    </script>
  </head>

  <body>
    <div class="app" id="root-main">
      <!-- 主应用  -->
      <div id="host-app-container"></div>
    </div>
  </body>
</html>
